.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}
.container svg {
  width: 50%;
  height: 50%;
}

.box {
  font-size: 20px;
  color: rgb(206, 102, 102);
  text-align: center;
}
